<%- include("partials/header") -%>

<h1>ABOUT ME</h1>




<div class="row " style="margin:0">
    <div class="col-md-6"><img src="Images/page1.png" alt="page1" width="570" height="800"></div>
    <div class="col-md-6"><img src="Images/page2.png" alt="page2" width="590" height="800"></div>
</div>

<a href="/"><button type="submit" style="background-color: rgb(99,209,187);" class="btn  btn-primary">Back to Home <i class="fa fa-home" style="font-size:18px"></i></button></a>

<%- include("partials/footer") -%>