<%- include("partials/header") -%>





<h1>CONTACT ME</h1>
<div class="contact">
<p>No 24,Angamal layout,NK Palayam,<br>Singanullur,Coimbatore-641033</p>
<p style="text-transform: none;">Mail ID : kkn146.002@gmail.com</p>
<p>Mobile No:8072709783</p>
</div>





<a href="/"><button type="submit" class="btn  btn-primary" style="background-color: rgb(99,209,187);">Back to Home <i class="fa fa-home" style="font-size:18px;"></i></button></a>

<%- include("partials/footer") -%>